<!-- /**** Home Main ****/ -->
<section id="home-header">
    <div id="home-main" class="mdui-valign" style="padding-top:50px">
        <div class="mdui-container-fluid mdui-p-x-0">
            <img class="mdui-center lazy" style="width:128px;height:128px" data-src="https://cdn.jsdelivr.net/gh/x-gslb/s@0x05/site/img/logo/logo-460.png">
                <h1 class="mdui-text-center mdui-typo-display-2 mdui-text-color-grey-50 mdui-m-y-0">CloudHammer</h1>
            <br>
            <p class="mdui-text-center mdui-typo-subheading-opacity mdui-text-color-grey-200 mdui-m-y-0">NexT Generation of Blazing Fast Global Network</p>
            <p class="mdui-text-center mdui-typo-subheading-opacity mdui-text-color-grey-200 mdui-m-b-0 mdui-m-t-1">致力于提供最好的流量中继服务</p>
            <br>
            <br>
            <div class="mdui-col-xs-10 mdui-col-offset-xs-1 mdui-col-sm-8 mdui-col-offset-sm-2 mdui-row-xs-2">
                <div class="mdui-col">
                    <a href="<%= theme.url.console %>/auth/register" class="mdui-color-theme-800 mdui-btn mdui-btn-raised mdui-ripple mdui-btn-block">立即注册</a>
                </div>
                <div class="mdui-col">
                    <a href="<%= theme.url.price %>" class="mdui-color-theme-900 mdui-btn mdui-btn-block mdui-btn-raised mdui-ripple">产品价格</a>
                </div>
            </div>


        </div>
    </div>
</section>

<section>
    <div class="mdui-container-fluid mdui-color-blue-grey-400">
        <div class="mdui-p-y-3">
            <div class="mdui-container">
                <div class="mdui-col-xs-12 mdui-col-sm-7 mdui-col-md-5 mdui-text-center mdui-typo">
                <div>感谢 <a href="https://li-ping.ml" target="_blank">李平先生（风继续吹）</a> 对我们流量中继服务的厚爱，在 Hostloc 论坛为我们疯狂发广告。为此，我们特别准备了优惠码 LiPingMotherBoom，在购买服务时可享九折优惠！同时，我们提供免费 SSR，<a href="/freessr">订阅链接</a>（右键或长按复制链接）</div>
                <p class="mdui-typo-subheading mdui-text-color-grey-800 mdui-m-y-0"></p>
            </div>
        </div>
    </div>
</section>


<!-- /**** Home Feat ****/ -->
<section id="home-relay-plus">
    <div class="mdui-container-fluid mdui-color-grey-100">
        <div class="home-padding">
            <div class="mdui-container">
                <div class="mdui-col-sm-5 mdui-col-md-5">
                    <img class="mdui-center lazy mdui-p-t-1" style="max-width:80%" data-src="https://cdn.jsdelivr.net/gh/x-gslb/s@0x05/site/img/home/home-cloud.png">
                </div>
                <div class="mdui-col-xs-12 mdui-col-sm-7 mdui-col-md-5 mdui-float-right mdui-text-center">
                <div class="mdui-p-t-2"></div>
                <h1 class="mdui-text-center mdui-typo-display-1 mdui-text-color-grey-800">CloudHammer<br>流量中继服务</h1>
                <p class="mdui-typo-subheading mdui-text-color-grey-800 mdui-m-y-0">依托全球 <%= theme.relay.global.partner %> 家运营商互联网基础服务提供商和云计算服务提供商的 IP 和优质云计算资源，采用全球范围内的业界顶级数据中心，中国优化链路和 CN2 路由，带宽总量高达 <%= theme.relay.global.alltraffic %>，可以为每位用户提供最高可达 <%= theme.relay.global.pertraffic %> 的中继带宽，随时随地加速您的网络环境，帮助您访问您喜欢的网站和服务，改善外服游戏体验，为您开辟全球业务保驾护航。</p>
                <br>
                <a href="<%= theme.url.howitwork %>" class="mdui-btn mdui-ripple dl-btn-border mdui-col-xs-10 mdui-col-sm-8 mdui-col-offset-sm-2 mdui-col-offset-xs-1 mdui-m-y-2">了解流量中继的工作原理</a>
            </div>
        </div>
    </div>
</section>

<!-- /**** Home Client ****/ -->
<section id="home-client" class="mdui-color-blue-grey-50 home-padding">
    <div class="mdui-container">
        <div class="mdui-row">
            <div class="mdui-col-xs-10 mdui-col-offset-xs-1 mdui-col-sm-8 mdui-col-offset-sm-2">
                <h1 class="mdui-text-center mdui-typo-display-1 mdui-text-color-grey-800 mdui-m-y-0">一份流量中继服务<br>全平台适用</h1>
                <p class="mdui-col-md-10 mdui-col-offset-md-1 mdui-text-center mdui-typo-subheading mdui-text-color-grey-700 mdui-p-y-3">仅需一个账号，即可在 iOS/Android/Windows/macOS/Linux 上自如使用。下载对应客户端，轻松几步完成配置，便可接入 CloudHammer 的中继服务。</p>
                <div class="mdui-text-center mdui-p-b-1">
                    <img style="max-width: 100%!important;" data-src="https://cdn.jsdelivr.net/gh/x-gslb/s@0x05/site/img/home/home-devices.png" class="lazy">
                </div>
            </div>
        </div>

        <div class="mdui-row">
            <div class="mdui-col-xs-8 mdui-col-offset-xs-2 mdui-col-sm-4 mdui-col-offset-sm-4 mdui-col-md-2 mdui-col-offset-md-5">
                <a href="<%= theme.url.resource %>#client" class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-theme-700 mdui-btn-block mdui-shadow-2"><i class="mdui-icon material-icons">file_download</i> 下载客户端</a>
            </div>
        </div>

    </div>

</section>

<!-- /**** Home Feat ****/ -->
<section id="home-feat" class="mdui-p-y-5">
    <div class="mdui-container">
        <div class="mdui-row">

            <!-- /* Global */ -->
            <div class="mdui-col-sm-4 mdui-col-md-4">
                <div class="mdui-card mdui-shadow-0">
                    <div class="mdui-card-content">
                        <img class="mdui-center mdui-p-y-1 lazy" style="height:128px" data-src="https://cdn.jsdelivr.net/gh/x-gslb/s@0x05/site/img/home/home-superior-global.png"/>
                        <p class="mdui-text-center mdui-m-y-0 mdui-typo-subheading">全球节点</p>
                        <p class="mdui-list-item-text mdui-text-center">CloudHammer 流量中继服务在全球主流地区均部署中继落地节点，为用户提供完美高速体验，满足不同使用类型的客户在全球不同地域开展业务，为应用加速和地域解锁提供解决方案</p>
                    </div>
                </div>
            </div>
            <!-- /* Security */ -->
            <div class="mdui-col-sm-4 mdui-col-md-4">
                <div class="mdui-card mdui-shadow-0">
                    <div class="mdui-card-content">
                        <img class="mdui-center mdui-p-y-1 lazy" style="height:128px" data-src="https://cdn.jsdelivr.net/gh/x-gslb/s@0x05/site/img/home/home-superior-security.png"/>
                        <p class="mdui-text-center mdui-m-y-0 mdui-typo-subheading">安全可靠</p>
                        <p class="mdui-list-item-text mdui-text-center">无论是便携设备还是桌面设备，您均可以接入 CloudHammer 流量中继服务，数据全程采用通用隧道协议传输，提供众多值得信赖的加密和特征混淆方式供您选择，全面保障隐私和数据安全</p>
                    </div>
                </div>
            </div>
            <!-- /* Elastic */ -->
            <div class="mdui-col-sm-4 mdui-col-md-4">
                <div class="mdui-card mdui-shadow-0">
                    <div class="mdui-card-content">
                        <img class="mdui-center mdui-p-y-1 lazy" style="height:128px" data-src="https://cdn.jsdelivr.net/gh/x-gslb/s@0x05/site/img/home/home-superior-elastic.png"/>
                        <p class="mdui-text-center mdui-m-y-0 mdui-typo-subheading">套餐灵活</p>
                        <p class="mdui-list-item-text mdui-text-center">您的需求可能大大小小，而 CloudHammer 的套餐却可以弹性放缩。无论月消耗 2 GiB 还是 200 GiB，总有一款 CloudHammer 的套餐和附加流量包可以满足您的需求</p>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>

<!-- /**** Home superior ****/ -->
<section id="home-superior" class="mdui-color-grey-100">
    <div class="mdui-container">
        <!-- /** Home superior List **/ -->
        <div class="mdui-col-xs-12 mdui-col-md-6 home-superior-padding">
            <ul class="mdui-list">
                <!-- /* Location */ -->
                <li class="mdui-list-item mdui-ripple">
                    <i class="mdui-list-item-avatar mdui-icon material-icons">location_on</i>
                    <div class="mdui-list-item-content mdui-m-l-3">
                        <h3 class="mdui-m-y-0 mdui-typo-subheading">解锁地域限制</h3>
                        <p class="mdui-list-item-text mdui-m-y-0">无论是限定 IP 的 Netflix，还是美区的 Spotify，亦或者是英国的 BBC 直播，CloudHammer 流量中继服务均能解锁</p>
                    </div>
                </li>

                <!-- /* Speed */ -->
                <li class="mdui-list-item mdui-ripple">
                    <i class="mdui-list-item-avatar mdui-icon material-icons">flight_takeoff</i>
                    <div class="mdui-list-item-content mdui-m-l-3">
                        <h3 class="mdui-m-y-0 mdui-typo-subheading">速度无与伦比</h3>
                        <p class="mdui-list-item-text mdui-m-y-0">CloudHammer 集成优质网络资源与中国优化链路，为用户亟需的应用加速和功能解锁提供解决方案</p>
                    </div>
                </li>

                <!-- /* Game */ -->
                <li class="mdui-list-item mdui-ripple">
                    <i class="mdui-list-item-avatar mdui-icon material-icons">beach_access</i>
                    <div class="mdui-list-item-content mdui-m-l-3">
                        <h3 class="mdui-m-y-0 mdui-typo-subheading">沟通游戏世界</h3>
                        <p class="mdui-list-item-text mdui-m-y-0">CloudHammer 为用户的外服游戏提供极致畅快体验，降低延迟和卡顿率，提高稳定性，极大提高游戏体验</p>
                    </div>
                </li>

                <!-- /* Premium */ -->
                <li class="mdui-list-item mdui-ripple">
                    <i class="mdui-list-item-avatar mdui-icon material-icons">account_balance</i>
                    <div class="mdui-list-item-content mdui-m-l-3">
                        <h3 class="mdui-m-y-0 mdui-typo-subheading">享受订户权益</h3>
                        <p class="mdui-list-item-text mdui-m-y-0">购买一年以上订阅，可享受多种 CloudHammer 的订户权益、参加 CloudHammer 不断推出的优惠活动</p>
                    </div>
                </li>

            </ul>
        </div>

        <!-- /** Home superior List **/ -->
        <div class="mdui-col-xs-12 mdui-col-md-6 home-superior-padding home-superior-list-right">
            <ul class="mdui-list">

                <!-- /* BGP */ -->
                <li class="mdui-list-item mdui-ripple">
                    <i class="mdui-list-item-icon mdui-icon material-icons">router</i>
                    <div class="mdui-list-item-content mdui-m-l-3">
                        <h3 class="mdui-list-item-title mdui-typo-subheading mdui-m-y-0">优质链路</h3>
                        <p class="mdui-list-item-text mdui-m-y-0">CloudHammer 中继对线路进行了优化，高质量 CN2 网络和双向直连链路，有效降低延迟与网络抖动</p>
                    </div>
                </li>

                <!-- /* TCP */ -->
                <li class="mdui-list-item mdui-ripple">
                    <i class="mdui-list-item-icon mdui-icon material-icons">av_timer</i>
                    <div class="mdui-list-item-content mdui-m-l-3">
                        <h3 class="mdui-m-y-0 mdui-typo-subheading">快速传输</h3>
                        <p class="mdui-list-item-text mdui-m-y-0">CloudHammer 中继接入节点和落地节点均部署了优化后的 TCP 拥塞控制算法，突破限制，提升带宽利用率，改善用户体验</p>
                    </div>
                </li>

                <!-- /* Premium */ -->
                <li class="mdui-list-item mdui-ripple">
                    <i class="mdui-list-item-icon mdui-icon material-icons">dns</i>
                    <div class="mdui-list-item-content mdui-m-l-3">
                        <h3 class="mdui-m-y-0 mdui-typo-subheading">平行架构</h3>
                        <p class="mdui-list-item-text mdui-m-y-0">每位中继用户的中继带宽及计算资源相互隔离，采用动态资源分配技术，高性能的服务器，更能承受诸多生产环境考验</p>
                    </div>
                </li>

                <!-- /* Premium */ -->
                <li class="mdui-list-item mdui-ripple">
                    <i class="mdui-list-item-icon mdui-icon material-icons">business_center</i>
                    <div class="mdui-list-item-content mdui-m-l-3">
                        <h3 class="mdui-m-y-0 mdui-typo-subheading">定制服务</h3>
                        <p class="mdui-list-item-text mdui-m-y-0">CloudHammer 可根据特殊需求提供定制订阅，大量网络带宽资源，提供超高品质优质服务</p>
                    </div>
                </li>

            </ul>
        </div>

    </div>

</section>
