<!DOCTYPE html>
<!--
    CloudHammer, NexT Generation of Fast Global Network.
    Copyright 2017 - 2018 CloudHammer. All rights reserved.
    https://overwall.org
-->

<html>

<%- partial('_partial/head') %>

<body class="mdui-appbar-with-toolbar mdui-theme-primary-light-blue">

    <!-- /****** AppBar ******/ -->
    <%- partial('_partial/appbar') %>

    <!-- /****** Content ******/ -->
    <div>
        <%- body %>
    </div>

    <!-- /****** Footer ******/ -->
    <%- partial('_partial/footer') %>

    <!-- /****** Drawer ******/ -->
    <!-- Only show on small device -->
    <%- partial('_partial/drawer') %>

<%- partial('_partial/source/footer') %>

</body>

</html>
