<section class="dl-header mdui-valign mdui-center">
    <div class="mdui-container-fluid mdui-p-x-0 mdui-p-t-5">

    <!-- /**** Download Header ****/ -->
    <h1 class="mdui-text-center mdui-text-color-white mdui-typo-display-1">资源与支持</h1>
    <p class="mdui-text-center mdui-text-color-white mdui-typo-subheading header-info">CloudHammer 流量中继服务在多数平台和系统均有兼容的客户端，只需点击按钮，即可获取各系统下兼容的程序。为新用户准备的教程和技术文档，也已经在此准备好。</p>
    <br>
    </div>

</section>

<section class="mdui-container mdui-p-y-5">
    <!-- /**** Download Cards ****/ -->
    <div class="mdui-valign">
        <div class="mdui-text-center mdui-center mdui-row-xs-1 mdui-row-sm-2 mdui-row-gapless" style="width: 100%">

            <!-- ** Android ** -->
            <article class="mdui-col">
                <div class="mdui-card mdui-valign dl-card-border mdui-p-a-3">
                    <div class="mdui-center">
                        <div class="mdui-card-content mdui-typo mdui-p-t-0">

                            <!-- svg-android -->
                            <svg version="1.1" baseProfile="tiny" id="图层_1" xmlns:x="&ns_extend;" xmlns:i="&ns_ai;" xmlns:graph="&ns_graphs;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/" x="0px" y="0px" width="40px" height="40px" viewBox="0 0 80 80" xml:space="preserve"><path fill="#22365f" d="M49.228,10.281l3.594-5.219c0.213-0.31,0.159-0.717-0.119-0.91c-0.278-0.191-0.678-0.097-0.891,0.214 l-3.734,5.422c-2.462-0.971-5.194-1.511-8.076-1.511c-2.881,0-5.614,0.54-8.075,1.511L28.19,4.366 c-0.214-0.311-0.613-0.405-0.892-0.214c-0.279,0.192-0.332,0.6-0.119,0.91l3.596,5.219c-5.717,2.658-9.725,7.711-10.236,13.609 h38.921C58.952,17.993,54.943,12.939,49.228,10.281" /><path fill="#FFFFFF" d="M31.871,18.506c-1.19,0-2.154-0.963-2.154-2.153s0.964-2.154,2.154-2.154c1.188,0,2.152,0.965,2.152,2.154 S33.059,18.506,31.871,18.506" /><path fill="#FFFFFF" d="M48.129,18.506c-1.188,0-2.15-0.963-2.15-2.153s0.963-2.154,2.15-2.154c1.192,0,2.155,0.965,2.155,2.154 S49.319,18.506,48.129,18.506" /><path fill="#22365f" d="M18.041,48.485c0,2.398-1.944,4.342-4.342,4.342l0,0c-2.397,0-4.342-1.943-4.342-4.342V30.924 c0-2.398,1.944-4.342,4.342-4.342l0,0c2.398,0,4.342,1.944,4.342,4.342V48.485z"/><path fill="#22365f" d="M20.539,26.716v31.719c0,1.883,1.527,3.41,3.412,3.41h4.036v9.76c0,2.397,1.943,4.342,4.341,4.342 c2.398,0,4.342-1.944,4.342-4.342v-9.76h6.662v9.76c0,2.397,1.945,4.342,4.343,4.342s4.342-1.944,4.342-4.342v-9.76h4.035 c1.884,0,3.412-1.525,3.412-3.41V26.716H20.539z" /><path fill="#22365f" d="M61.96,48.485c0,2.398,1.942,4.342,4.342,4.342l0,0c2.398,0,4.342-1.943,4.342-4.342V30.924 c0-2.398-1.943-4.342-4.342-4.342l0,0c-2.399,0-4.342,1.944-4.342,4.342V48.485z"/></svg>

                            <h4>ShadowsocksR for Android</h4>
                            <span>系统要求：Android 4.4+</span>
                            <hr>
                            <span>支持 CloudHammer 流量中继服务所有特性的客户端，适用于 Android</span>

                        </div>
                        <div class="mdui-card-actions mdui-text-center mdui-p-x-5">
                            <a id="download-ssr-android" href="<%= theme.url.clientdl.Android %>" class="mdui-btn mdui-btn-block mdui-p-x-5 mdui-ripple mdui-hoverable mdui-color-theme-700"><i class="mdui-icon mdui-icon-left material-icons">file_download</i>获取软件</a>
                        </div>
                        <div class="mdui-card-content mdui-p-b-0">
                            <p class="mdui-m-b-0 mdui-typo-subheading">第一次使用？<a class="mdui-text-color-theme-900" style="text-decoration: none" href="<%= theme.url.clientdocs.Android %>" target="_blank">查看教程</a></p>
                        </div>
                    </div>
                </div>
            </article>

            <!-- ** Windows ** -->
            <article class="mdui-col">
                <div class="mdui-card mdui-valign dl-card-border mdui-p-a-3">
                    <div class="mdui-center">
                        <div class="mdui-card-content mdui-typo mdui-p-t-0">

                            <!-- svg-windows -->
                            <svg version="1.1" baseProfile="tiny" id="2" xmlns:x="&ns_extend;" xmlns:i="&ns_ai;" xmlns:graph="&ns_graphs;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/" x="0px" y="0px" width="40px" height="40px" viewBox="0 0 80 80" xml:space="preserve"><polygon fill-rule="evenodd" fill="#22365f" points="6.111,16.625 6.111,40.479 34.467,40.565 34.467,12.375 " /><polygon fill-rule="evenodd" fill="#22365f" points="6.111,43.09 6.111,67.125 34.467,70.504 34.467,43.09 " /><polygon fill-rule="evenodd" fill="#22365f" points="37.44,12.631 37.44,40 74.861,40.044 74.861,6.75 " /><polygon fill-rule="evenodd" fill="#22365f" points="37.44,43.525 37.44,70.938 74.861,76.16 74.861,43.525 " /></svg>

                            <h4>ShadowsocksR for Windows</h4>
                            <span>系统要求：Windows 7/8/10</span>
                            <hr>
                            <span>支持 CloudHammer 流量中继服务所有特性的客户端，适用于 Windows</span>

                        </div>
                        <div class="mdui-card-actions mdui-text-center mdui-p-x-5">
                            <a id="download-ssr-windows" href="<%= theme.url.clientdl.Windows %>" class="mdui-btn mdui-btn-block mdui-p-x-5 mdui-ripple mdui-hoverable mdui-color-theme-700"><i class="mdui-icon mdui-icon-left material-icons">file_download</i>获取软件</a>
                        </div>
                        <div class="mdui-card-content mdui-p-b-0">
                            <p class="mdui-m-b-0 mdui-typo-subheading">第一次使用？<a class="mdui-text-color-theme-900" style="text-decoration: none" href="<%= theme.url.clientdocs.Windows %>" target="_blank">查看教程</a></p>
                        </div>
                    </div>
                </div>
            </article>

            <!-- ** macOS ** -->
            <article class="mdui-col">
                <div class="mdui-card mdui-valign dl-card-border mdui-p-a-3">
                    <div class="mdui-center">
                        <div class="mdui-card-content mdui-typo mdui-p-t-0">

                            <!-- svg-mac -->
                            <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1 Tiny//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11-tiny.dtd">
                            <svg version="1.1" baseProfile="tiny" id="图层_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="40px" height="40px" viewBox="0 0 40 40" xml:space="preserve"><g><path fill="#22365f" stroke="#22365f" stroke-width="0.5" stroke-miterlimit="10" d="M36.529,31.671c0,0.732-0.473,1.33-1.056,1.33 H4.095c-0.584,0-1.057-0.598-1.057-1.33V11.837c0-0.734,0.473-1.33,1.057-1.33h31.379c0.583,0,1.056,0.596,1.056,1.33V31.671z"/><rect x="4.768" y="11.99" fill="#FFFFFF" stroke="#FFFFFF" stroke-width="0.5" stroke-miterlimit="10" width="29.599" height="19.155"/><circle fill="#FFFFFF" stroke="#22365f" stroke-width="0.25" stroke-miterlimit="10" cx="19.625" cy="11.083" r="0.432" /><path fill="#3D3A39" stroke="#22365f" stroke-width="0.5" stroke-miterlimit="10" d="M39.465,32.228c0,0-2.257,1.544-2.936,1.544 c-0.68,0-33.491,0-33.491,0s-2.719-1.111-2.503-1.544H39.465z" /></g></svg>

                            <h4>ShadowsocksX-NG-R8 for macOS</h4>
                            <span>系统要求：OS X Mavericks 及以上</span>
                            <hr>
                            <span>支持 CloudHammer 流量中继服务所有特性的客户端，适用于 macOS</span>

                        </div>
                        <div class="mdui-card-actions mdui-text-center mdui-p-x-5">
                            <a id="download-ssr-macos" href="<%= theme.url.clientdl.Mac %>" class="mdui-btn mdui-btn-block mdui-p-x-5 mdui-ripple mdui-hoverable mdui-color-theme-700"><i class="mdui-icon mdui-icon-left material-icons">file_download</i>获取软件</a>
                        </div>
                        <div class="mdui-card-content mdui-p-b-0">
                            <p class="mdui-m-b-0 mdui-typo-subheading">第一次使用？<a class="mdui-text-color-theme-900" style="text-decoration: none" href="<%= theme.url.clientdocs.Mac %>" target="_blank">查看教程</a></p>
                        </div>
                    </div>
                </div>
            </article>
            
            <!-- ** SSTap ** -->
            <article class="mdui-col">
                <div class="mdui-card mdui-valign dl-card-border mdui-p-a-3">
                    <div class="mdui-center">
                        <div class="mdui-card-content mdui-typo mdui-p-t-0">

                            <!-- svg-windows -->
                            <svg version="1.1" baseProfile="tiny" id="2" xmlns:x="&ns_extend;" xmlns:i="&ns_ai;" xmlns:graph="&ns_graphs;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/" x="0px" y="0px" width="40px" height="40px" viewBox="0 0 80 80" xml:space="preserve"><polygon fill-rule="evenodd" fill="#22365f" points="6.111,16.625 6.111,40.479 34.467,40.565 34.467,12.375 " /><polygon fill-rule="evenodd" fill="#22365f" points="6.111,43.09 6.111,67.125 34.467,70.504 34.467,43.09 " /><polygon fill-rule="evenodd" fill="#22365f" points="37.44,12.631 37.44,40 74.861,40.044 74.861,6.75 " /><polygon fill-rule="evenodd" fill="#22365f" points="37.44,43.525 37.44,70.938 74.861,76.16 74.861,43.525 " /></svg>

                            <h4>SocksTap</h4>
                            <span>系统要求：Windows 7/8/10</span>
                            <hr>
                            <span>支持 CloudHammer 流量中继服务所有特性的客户端，适用于 Windows</span>

                        </div>
                        <div class="mdui-card-actions mdui-text-center mdui-p-x-5">
                            <a class="mdui-btn mdui-btn-block mdui-p-x-5 mdui-ripple mdui-hoverable mdui-color-theme-700" mdui-dialog="{target: '#download-sstap-dialog'}"><i class="mdui-icon mdui-icon-left material-icons">file_download</i>获取软件</a>
                        </div>
                        <div class="mdui-card-content mdui-p-b-0">
                            <p class="mdui-m-b-0 mdui-typo-subheading">第一次使用？<a class="mdui-text-color-theme-900" style="text-decoration: none" href="<%= theme.url.clientdocs.sstap %>" target="_blank">查看教程</a></p>
                        </div>
                    </div>
                </div>
            </article>

        </div>

    </div>


    <!-- /**** SSTap Dialog ****/ -->
    <div class="mdui-dialog" id="download-sstap-dialog">
        <div class="mdui-dialog-title">下载指定版本的 SocksTap</div>
        <div class="mdui-dialog-content mdui-typo">
            <span>CloudHammer 提供以下三个版本的 SSTap 下载</span>
            <br>
            <hr>
            <a href="<%= theme.url.clientdl.SSTap1093 %>" class="download-sstap">SSTap-Beta-1.0.9.3</a>
            <br>
            <a href="<%= theme.url.clientdl.SSTap1097 %>" class="download-sstap">SSTap-Beta-1.0.9.7</a>
            <br>
            <a href="<%= theme.url.clientdl.SSTap1101 %>" class="download-sstap">SSTap-Beta-1.1.0.1</a>
        </div>
    </div>


    <!-- /**** Title 2 ****/ -->
    <h1 class="mdui-text-center mdui-typo-display-1 mdui-m-t-5 mdui-p-t-5">iOS App Store</h1>

    <p class="mdui-row mdui-center mdui-text-center mdui-typo-subheading mdui-p-b-5 mdui-m-y-0" style="max-width:560px"><small>CloudHammer 并无义务为您提供这些应用程序的下载。在 iOS 设备上使用流量中继服务时您需要自行购买这些应用程序。某些应用程序在中国区下架也并非由 CloudHammer 所决定，您应当联系 Apple 或自行注册其他国家或地区的 Apple ID，以便下载这些程序。</small></p>

    <div class="mdui-row mdui-text-center mdui-center mdui-row-xs-1 mdui-row-sm-2 mdui-row-md-3 mdui-row-gapless" style="width: 100%">


        <!-- ** ShadowRocket ** -->
        <article class="mdui-col">
            <div class="mdui-card mdui-valign dl-card-border mdui-p-a-3">
                <div class="mdui-center">
                    <div class="mdui-card-content mdui-typo mdui-p-t-0">
                        <h4>Shadowrocket</h4>
                        <span>系统要求：iOS 10+</span>
                        <hr>
                        <span>支持 CloudHammer 流量中继服务所有特性的客户端，适用于 iOS</span>
                    </div>
                    <div class="mdui-card-actions mdui-text-center mdui-p-x-5">
                        <a href="<%= theme.url.clientdl.Shadowrocket %>" target="_blank" class="mdui-btn mdui-btn-block mdui-p-x-5 mdui-ripple mdui-hoverable mdui-color-theme-700"><i class="mdui-icon mdui-icon-left material-icons">local_grocery_store</i>获取软件</a>
                    </div>
                    <div class="mdui-card-content mdui-p-b-0">
                        <p class="mdui-m-b-0 mdui-typo-subheading">第一次使用？<a class="mdui-text-color-theme-900" style="text-decoration: none" href="<%= theme.url.clientdocs.Shadowrocket %>" target="_blank">查看教程</a></p>
                    </div>
                </div>
            </div>
        </article>

        <!-- ** Potatso ** -->
        <article class="mdui-col">
            <div class="mdui-card mdui-valign dl-card-border mdui-p-a-3">
                <div class="mdui-center">
                    <div class="mdui-card-content mdui-typo mdui-p-t-0">
                        <h4>Potatso Lite</h4>
                        <span>系统要求：iOS 10+</span>
                        <hr>
                        <span>支持 CloudHammer 流量中继服务所有特性的客户端，适用于 iOS</span>
                    </div>
                    <div class="mdui-card-actions mdui-text-center mdui-p-x-5">
                        <a href="<%= theme.url.clientdl.Potatso %>" target="_blank" class="mdui-btn mdui-btn-block mdui-p-x-5 mdui-ripple mdui-hoverable mdui-color-theme-700"><i class="mdui-icon mdui-icon-left material-icons">local_grocery_store</i>获取软件</a>
                    </div>
                    <div class="mdui-card-content mdui-p-b-0">
                        <p class="mdui-m-b-0 mdui-typo-subheading">第一次使用？<a class="mdui-text-color-theme-900" style="text-decoration: none" href="<%= theme.url.clientdocs.Potatso %>" target="_blank">查看教程</a></p>
                    </div>
                </div>
            </div>
        </article>

        <!-- ** Surge ** -->
        <article class="mdui-col">
            <div class="mdui-card mdui-valign dl-card-border mdui-p-a-3">
                <div class="mdui-center">
                    <div class="mdui-card-content mdui-typo mdui-p-t-0">
                        <h4>Quantumult</h4>
                        <span>系统要求：iOS 10+</span>
                        <hr>
                        <span>支持 CloudHammer 流量中继服务所有特性的客户端，适用于 iOS</span>
                    </div>
                    <div class="mdui-card-actions mdui-text-center mdui-p-x-5">
                        <a href="<%= theme.url.clientdl.Quantumult %>" target="_blank" class="mdui-btn mdui-btn-block mdui-p-x-5 mdui-ripple mdui-hoverable mdui-color-theme-700"><i class="mdui-icon mdui-icon-left material-icons">local_grocery_store</i>获取软件</a>
                    </div>
                    <div class="mdui-card-content mdui-p-b-0">
                        <p class="mdui-m-b-0 mdui-typo-subheading">第一次使用？<a class="mdui-text-color-theme-900" style="text-decoration: none" href="<%= theme.url.clientdocs.Quantumult %>" target="_blank">查看教程</a></p>
                    </div>
                </div>
            </div>
        </article>

    </div>
    <div class="mdui-row mdui-text-center mdui-m-y-5">
        <small>*我们不推荐阁下使用 Surge，因为 Surge 与 CloudHammer 流量中继服务不兼容</small>
    </div>
</section>
