<section class="rl-header home-padding mdui-center">
    <!-- /**** Relay Header ****/ -->
    <div class="mdui-container">
        <h1 class="mdui-center mdui-text-center mdui-text-color-white mdui-typo-display-1 mdui-m-t-0">流量中继服务</h1>
        <p class="mdui-typo-subheading mdui-text-color-white header-info mdui-text-center mdui-center">CloudHammer 与国内外 <%= theme.relay.global.partner %> 家互联网服务提供商和云计算服务提供商合作，通过业界顶级的数据中心与专门的中国优化链路、中国电信独有的 CN2(ChinaNet Next Carrying Network) 高质量网络，改善端到端网络服务，全面支持海外加速，为您开辟国内外业务保驾护航。</p>
    </div>

</section>

<!-- /**** Relay Global ****/ -->
<section id="rl-global" class="mdui-valign mdui-center mdui-color-grey-900 rl-padding">
    <div class="mdui-container">

        <div class="mdui-col-xs-11 mdui-col-md-5 mdui-col-offset-md-1 mdui-p-t-5">
            <div class="mdui-row-md-1 mdui-row-xs-2 mdui-row-sm-4">
                <div class="mdui-col">
                    <div class="mdui-typo-display-1 mdui-text-color-light-blue-a400"><%= theme.relay.global.dc %></div>
                    <div class="mdui-typo-subheading mdui-text-color-grey-50">遍布全球各个区域的数据中心</div>
                    <br>
                </div>
                <div class="mdui-col">
                    <div class="mdui-typo-display-1 mdui-text-color-light-blue-a400"><%= theme.relay.global.node %></div>
                    <div class="mdui-typo-subheading mdui-text-color-grey-50">落地服务器节点总数</div>
                    <br>
                </div>
                <div class="mdui-col">
                    <div class="mdui-typo-display-1 mdui-text-color-light-blue-a400"><%= theme.relay.global.alltraffic %></div>
                    <div class="mdui-typo-subheading mdui-text-color-grey-50">流量中继服务带宽总量</div>
                    <br>
                </div>
                <div class="mdui-col">
                    <div class="mdui-typo-display-1 mdui-text-color-light-blue-a400"><%= theme.relay.global.pertraffic %></div>
                    <div class="mdui-typo-subheading mdui-text-color-grey-50">每位用户最高可享有的中继带宽</div>
                    <div class="mdui-typo-body-2 mdui-text-color-grey-700"><small>*受限于用户环境的互联网带宽上限</small></div>
                    <br>
                </div>
            </div>
        </div>

        <div class="mdui-col-sm-12 mdui-col-md-6">
            <img class="mdui-center relay-digital-earth lazy" data-src="https://cdn.jsdelivr.net/gh/x-gslb/s@0x05/site/img/relay/relay-global-digital-earth.png">
        </div>

    </div>

</section>

<!-- /**** Relay Node List ****/ -->
<section class="rl-node-list">
    <div class="mdui-container">

    <div class="mdui-row">
        <h1 class="mdui-text-center mdui-text-color-white mdui-typo-headline mdui-p-t-4">中继服务落地节点遍布全球</h1>
    </div>

    <div class="mdui-row">
        <div class="mdui-col-sm-8 mdui-col-offset-sm-2 mdui-col-md-8 mdui-col-offset-md-3 mdui-p-t-4">
            <ul class="mdui-list mdui-list-dense mdui-col-xs-6">
                <li class="mdui-list-item"><i class="mdui-list-item-icon mdui-icon material-icons mdui-text-color-light-blue-800">brightness_1</i><div class="mdui-list-item-content mdui-text-color-white"><%- theme.relay.node.left.join('</div></li><li class="mdui-list-item"><i class="mdui-list-item-icon mdui-icon material-icons mdui-text-color-light-blue-800">brightness_1</i><div class="mdui-list-item-content mdui-text-color-white">') %></div></li>
            </ul>
            <ul class="mdui-list mdui-list-dense mdui-col-xs-6">
                <li class="mdui-list-item"><i class="mdui-list-item-icon mdui-icon material-icons mdui-text-color-light-blue-800">brightness_1</i><div class="mdui-list-item-content mdui-text-color-white"><%- theme.relay.node.right.join('</div></li><li class="mdui-list-item"><i class="mdui-list-item-icon mdui-icon material-icons mdui-text-color-light-blue-800">brightness_1</i><div class="mdui-list-item-content mdui-text-color-white">') %></div></li>
            </ul>
        </div>
    </div>

    </div>
</section>

<!-- /**** Relay Divider I ****/ -->
<div class="rl-divider-1"></div>

<!-- /**** Relay bgp ****/ -->
<section id="rl-bgp" class="mdui-center" style="padding-top: 80px">
    <div class="mdui-container">

        <div class="mdui-valign mdui-col-xs-12 mdui-col-sm-4 mdui-col-md-6 mdui-float-left rl-info-img-height">
            <img data-src="https://cdn.jsdelivr.net/gh/x-gslb/s@0x05/site/img/relay/relay-superior-bgp.png" class="mdui-img-fluid lazy">
        </div>

        <div class="mdui-col-xs-12 mdui-col-sm-8 mdui-col-md-6 mdui-p-t-5 mdui-float-right">
            <div>
                <h1 class="mdui-typo-display-1 mdui-text-color-grey-800 mdui-m-y-0">全球节点&nbsp;&nbsp;优质链路</h1>
                <br>
                <p class="mdui-typo-subheading mdui-text-color-grey-800 rl-info-text mdui-m-y-0">CloudHammer 在全球范围的主流地区建立中继落地节点，遍及全球的网络资源触手可及，为应用加速和地域解锁提供解决方案，为您开展国际业务保驾护航</p>
            </div>
        </div>

    </div>

</section>

<!-- /****** Divider ******/ -->
<br><div class="mdui-divider mdui-m-y-5"></div><br>

<section>

<!-- /**** Relay Speed ****/ -->
<div id="rl-security" class="mdui-center">
    <div class="mdui-container">

        <div class="mdui-valign mdui-col-xs-12 mdui-col-sm-4 mdui-col-md-6 mdui-float-right rl-info-img-height">
            <img data-src="https://cdn.jsdelivr.net/gh/x-gslb/s@0x05/site/img/relay/relay-superior-speed.png" class="mdui-img-fluid lazy">
        </div>

        <div class="mdui-col-xs-12 mdui-col-sm-8 mdui-col-md-6 mdui-p-t-5 mdui-float-left">
            <div>
                <h1 class="mdui-typo-display-1 mdui-text-color-grey-800 mdui-m-y-0">更大带宽&nbsp;&nbsp;降低延时</h1>
                <br>
                <p class="mdui-typo-subheading mdui-text-color-grey-800 rl-info-text mdui-m-y-0">CloudHammer 中继依依托中国电信天翼极速业务，采用中国电信独家且全网上乘的 CN2 网络、经过优化的高质量双向直连链路，有效降低延迟与网络抖动</p>
            </div>
        </div>

    </div>

</div>

<!-- /****** Divider ******/ -->
<br><div class="mdui-divider mdui-m-y-5"></div><br>

<!-- /**** Relay TCP ****/ -->
<div id="rl-tcp" class="mdui-center">
    <div class="mdui-container">

        <div class="mdui-valign mdui-col-xs-12 mdui-col-sm-4 mdui-col-md-6 mdui-float-left rl-info-img-height">
            <img data-src="https://cdn.jsdelivr.net/gh/x-gslb/s@0x05/site/img/relay/relay-superior-tcp.png" class="mdui-img-fluid lazy">
        </div>

        <div class="mdui-col-xs-12 mdui-col-sm-8 mdui-col-md-6 mdui-p-t-5 mdui-float-right">
            <div>
                <h1 class="mdui-typo-display-1 mdui-text-color-grey-800 mdui-m-y-0">优化协议&nbsp;&nbsp;快速传输</h1>
                <br>
                <p class="mdui-typo-subheading mdui-text-color-grey-800 rl-info-text mdui-m-y-0">CloudHammer 的中继接入节点和落地节点均部署了特殊优化后的 TCP 拥塞控制算法，突破限制、提升利用率，配合足额的国际带宽，有效改善用户体验</p>
            </div>
        </div>

    </div>

</div>

<!-- /****** Divider ******/ -->
<br><div class="mdui-divider mdui-m-y-5"></div><br>

<!-- /**** Relay Security ****/ -->
<div id="rl-security" class="mdui-center">
    <div class="mdui-container">

        <div class="mdui-valign mdui-col-xs-12 mdui-col-sm-4 mdui-col-md-6 mdui-float-right rl-info-img-height">
            <img data-src="https://cdn.jsdelivr.net/gh/x-gslb/s@0x05/site/img/relay/relay-superior-security.png" class="mdui-img-fluid lazy">
        </div>

        <div class="mdui-col-xs-12 mdui-col-sm-8 mdui-col-md-6 mdui-p-t-5 mdui-float-left">
            <div>
                <h1 class="mdui-typo-display-1 mdui-text-color-grey-800 mdui-m-y-0">隧道加密&nbsp;&nbsp;保障安全</h1>
                <br>
                <p class="mdui-typo-subheading mdui-text-color-grey-800 rl-info-text mdui-m-y-0">CloudHammer 中继服务全程采用通用隧道协议传输，支持多种流加密算法和特征混淆方式，无论便携设备亦或桌面设备都可以接入中继服务保护隐私和数据安全</p>
            </div>
        </div>

    </div>

</div>

</section>

<div class="mdui-p-y-4"></div>
